html,body,span,p,ul,li,ol,h1,h2,h3,h4,h5,h6,input,form,dl,dt,dd,a,i,em,img,table,tr,td,fieldset, legend{ margin:0; padding:0; }
body{
	font-family: "微软雅黑"; font-size: 14px;
}
a{
	text-decoration: none; color: #333;
}
ul li,ol li{
	list-style: none;
}
h1,h2,h3,h4{
	font-weight: normal;
}
i,em{
	font-style: normal;
}
img{
	vertical-align: top; border: none;
}
input{
	outline: none;
}
.clearfix:after{
	content:"."; display: block; visibility: hidden; clear: both; height: 0; font-size: 0; overflow: hidden;
}
